/* Intestazione Generali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.centratura{
  width: 80%;
  margin: 0 auto;
}

/* Header */
header{
  width: 80%;
  margin: 0 auto;
}

/* Navigazione */

/* Menu */

/* The simplest cloud for developer */

/* Customers */

/* Scale seamlessly */

/* Designed for developers */

/* The features your business needs */

/* 12 Regions */

/* Love DigitalOcean */

/* Get Started now */

/* Footer */
