/* Intestazione Generali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Inter', sans-serif;
}

ul{
  list-style-type: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.sfondo-grey{
  background-color: #f3f5f9;
}

/* Header */

header{
  background-color: white;
  position: fixed;
  width: 100%;
  height: 70px;
}

/* Navigazione */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
}

.img-logo img{
  height: 35px;
}

.nav-bar li {
  display: inline-block;
  padding: 0 10px;
}

.nav-bar a{
  text-decoration: none;
  color: black;
}

.nav-bar{
  display: inline-block;
}

.buttone-sign{
  border: 1px solid rgba(0, 95, 222, 1);
  border-radius: 5px;
  color: rgba(0, 95, 222, 1);
  padding: 5px 10px;
}

.dropdown-bars{
  display: none;
}

/* Menu */


/* The simplest cloud for developer */

.jumbo-top{
  padding-top: 70px;
}

#sfondo-fish{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-1{
  display: flex;
  justify-content: space-between;
}

.contenitore-titolo{
  flex-basis: 35%;
  margin-top: 50px;
}


.contenitore-titolo h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.contenitore-titolo p{
  color: lightgrey;
  font-size: 20px;
  margin: 15px 0 15px 0;
}

.contenitore-deploy{
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin: 50px 0 50px 0;
  flex-basis: 30%;
}

.contenitore-deploy h2{
  padding-top: 20px;
  font-weight: bold;
}

.contenitore-deploy a h2{
  padding-bottom: 10px;
}

.contenitore-deploy a h2:hover{
  color: #006aff;
}

/* form sign */

.form-sign-in input{
  font-size: 16px;
  font-weight: bold;
  border: none;
  border: 1px solid;
  border-color: rgba(108, 117, 125, 0.21);
  border-radius: 5px;
  height: 40px;
  width: 90%;
  margin: 7px 5%;
  padding-left: 5px;
}

.fix-account{
  background-color: rgb(0, 146, 252);
  color: white;
  display: inline-block;
  width: 90%;
  padding: 5px 0;
  border-radius: 5px;
  margin: 5px 0;
}

.fix-account:hover{
  background-color: #006aff;
}

.google-login a{
  color: rgb(84, 84, 84);
  font-weight: bold;
  display: inline-block;
  width: 90%;
  padding: 5px 0;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px 0;
  padding-right: 10px;
  position: relative;
}

.google-login a:hover{
  background-color: rgba(108, 117, 125, 0.6) ;
}

.google-login img{
  max-height: 25px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 2px 5px;
}

.licencia{
  margin-top: 10px;
  padding-bottom: 20px;
}

.terms-service{
  color: rgb(0, 146, 252);
  text-decoration: underline;
}

.terms-service:hover{
  text-decoration: underline;
}


/* Customers */

.contenitore-customers{
  background-color: #f3f5f9;
  text-align: center;

}

.contenitore-customers ul {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 150px;
}

.contenitore-customers h3{
  padding: 40px 0;
}

.contenitore-customers img{
 height: 120px;
 width: 100%;
}

.contenitore-customers li{
  height: 120px;
  flex-basis: 200px;
}

.contenitore-customers h4{
  padding: 40px 0;
}

/* Scale seamlessly */

#scale{
  margin: 50px 0;
}

.centratura{
  text-align: center;
}

#scale h2{
  font-size: 35px;
  font-weight: bold;
  color: rgba(0, 29, 68, 1);
  padding-bottom: 10px;
}

.font-misure{
  font-size: 22px;
  color: rgb(84, 84, 84);
  padding-bottom: 40px;
}

.contenitore-seamlessly{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;

}

.dimensione-seamlessly{
  flex-basis: 33%;
}

.dimensione-link{
  flex-basis: 20%;
}

.pad-sez-scale{
 margin-right: 30%;
}

ul.scala-deploy{
  border-left: 2px solid;
  border-color: rgb(84, 84, 84);
}

.scala-deploy li{
  list-style: none;
  font-size: 18px;
  padding: 5px 0 10px 5px;
  color: rgb(84, 84, 84);
}

.pad-sez-scale img, .pad-sez-scale h4, .pad-sez-scale p{
  padding: 7px 0;
}

.pad-sez-scale p{
  font-size: 16px;
  color: rgb(84, 84, 84);
}

.pad-sez-scale h4{
  font-size: 22px;
  color: rgba(0, 29, 68, 1);
}
/* Designed for developers */

.contenitore-designed{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenitore-designed i{
  font-size: 40px;
  color: rgba(0, 29, 68, 1);
}

.img-dimensione img{
  max-width: 100%;
}

.contenitore-designed .fa-chevron-left{
  margin-left: 5%;
}

.contenitore-designed .fa-chevron-right{
  margin-right: 5%;
}


.text-fix h2{
  padding-top: 50px;
  font-size: 35px;
  font-weight: bold;
  color: rgba(0, 29, 68, 1);
}

.text-fix p{
  font-size: 20px;
  font-weight: 600;
  color: rgb(84, 84, 84);
  padding: 30px 0;
}

.cerchi{
  color: rgba(0, 95, 222, 1);
  padding-bottom: 50px;
}

.text-fix h4{
  color: rgba(0, 29, 68, 1);
  margin: 20px 0;
}


/* The features your business needs */

#margine-testo{
  font-size: 35px;
  font-weight: bold;
  margin: 50px 0 40px 0;
  text-align: center;
  color: rgba(0, 29, 68, 1);
}

.contenitore-features{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.dimensione-features{
  flex-basis: 25%;
}

.dimensione-features h4{
  color: rgba(0, 29, 68, 1);
  font-weight: bold;
  margin: 15px 0;
}

.dimensione-features img{
  margin-top: 15px;
}

.dimensione-features p{
  font-size: 16px;
  color: rgb(84, 84, 84);
  padding-bottom: 10px;
}

/* Love DigitalOcean */

.contenitore-love-ocean{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 10%;
}

.contenitore-love-ocean i{
  font-size: 40px;
  color: rgba(0, 29, 68, 1);
}

.contenitore-love-ocean .fa-chevron-left{
  margin-left: 5%;
}

.contenitore-love-ocean .fa-chevron-right{
  margin-right: 5%;
}

.contenitore-rockerbox{
  background-color: white;
  width: 60%;
  border-radius: 5px;
}

.contenitore-rockerbox img{
  margin: 60px 0 25px 0;
}

.contenitore-rockerbox p{
  font-size: 24px;
  font-weight: bold;
  color: rgb(84, 84, 84);
}

.contenitore-rockerbox h5{
  font-size: 16px;
  color: rgba(0, 29, 68, 1);
  margin: 10px 0;
}

.contenitore-rockerbox h6{
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
}

.cerchi-2{
  padding-top: 20px;
}

/* Get Started now */

.back-blue-gradient{
  background: linear-gradient(to bottom, #2285fd, #031c4e);
}

.contenitore-started h2{
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 50px 0 30px 0;
}

.contenitore-started button{
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(0, 125, 255);
  font-weight: bold;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: white;
}

/* Footer */

.back-blue-scuro{
  background-color: rgb(0, 13, 80);
}

.contenitore-footer{
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.contenitore-footer ul {
  list-style-type: none;
}

.lista-footer li h4{
  color: white;
  font-weight: bold;

}

.lista-footer li a{
  color: rgb(170, 170, 170);
  font-size: 16px;
}

.lista-footer li{
  margin: 10px 0;
}

.lista-footer li a:hover{
  color: white;
}

.social-network{
  font-size: 25px;
}

.social-network i{
  padding: 10px 5px;
  color: rgb(170, 170, 170);
}

.social-network i:hover{
  color: white;
}

#footer-tekst{
  font-size: 16px;
  color: rgb(170, 170, 170);
  margin: 5px 0;
}

#footer-tekst-2{
  color: rgb(131, 131, 131);
  margin: 5px 0;
}
